body {
	font-size: 14px;
	margin: 0; 
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	color:#333;
	background-color: #ADD8E6;
}

.img src {
	border: 2px dotted #FF0000;
}


	
	